params {
    summary = null
    run_id  = 'nanopore_run'
    fastq_dir = null
    outdir  = 'results'
    ref_genome = null
}

profiles {

    rorqual {

        process {
            executor = 'slurm'
            clusterOptions = '--account=def-lefranco'
        }

        apptainer {
            enabled = true
            autoMounts = true
            cacheDir = '/project/def-lefranco/peixiliu/NXF_SINGULARITY_CACHEDIR'
            runOptions = '-B /lustre09:/lustre09,/project:/project,/scratch:/scratch'
        }

        workDir = '/scratch/peixiliu/nextflow_work'
    }
}
