/*
 * Default pipeline parameters
 */
params {

    /*
     * Input files
     */
    summary        = null
    fastq_dir      = null
    ref_genome     = null
    ref_annotation = null
    samplesheet = null
    jaffal_ref_dir = null

    /*
     * Run information
     */
    run_id = 'nanopore_run'

    /*
     * Output directory
     */
    outdir = 'results'

    /*
     * Differential expression analysis
     */
    de_analysis = true

    /*
     * Expression filtering thresholds
     *
     * For a small test dataset, min_samps_gene_expr = 1.
     * For the full cohort, increase it to 3.
     */
    min_samps_gene_expr    = 1
    min_samps_feature_expr = 1
    min_gene_expr          = 10
    min_feature_expr       = 3
}


/*
 * Execution profiles
 */
profiles {

    /*
     * Alliance Canada Rorqual cluster
     */
    rorqual {

        process {
            executor = 'slurm'

            /*
             * Slurm allocation account
             */
            clusterOptions = '--account=def-lefranco'

            /*
             * Ensure Apptainer is available on compute nodes
             */
            beforeScript = 'module load apptainer/1.4.5'

            /*
             * Extra resources for pycoQC
             */
            withName: 'PYCOQC' {
                cpus   = 4
                memory = '256 GB'
                time   = '24h'
            }
        }

        apptainer {
            enabled    = true
            autoMounts = true

            cacheDir = '/project/def-lefranco/peixiliu/NXF_SINGULARITY_CACHEDIR'

            runOptions = [
                '-B /lustre09:/lustre09',
                '-B /project:/project',
                '-B /scratch:/scratch'
            ].join(' ')
        }

        workDir = '/scratch/peixiliu/nextflow_work'
    }
}
